<% include ../partials/header %>

<div class="container">
	<h1 class="text-center">Edit <%= resource.name %></h1>
	<div style="width: 100%; margin: 25px auto;">
		<!-- Form that makes a Put request to edit campground (PUT request requires "?_method=PUT" appended to end of POST request URL -->
		<form action = "/resources/<%= resource.slug %>?_method=PUT" method="POST">
			<div class="form-group">
				<input class="form-control" type = "text" maxlength="60" name="resource[name]" value = "<%= resource.name %>" required>
			</div>
			<div class="form-group">
				<input class="form-control" type = "number" name="resource[price]" value="<%= resource.price %>" min = "0.01" max = "1000" step="0.01">
			</div>
			<div class="form-group">
				<input class="form-control" type = "text" name="resource[image]" value = "<%= resource.image %>" required>
			</div>
			<div class="form-group">
				<textarea class="form-control" type = "text" name="resource[description]" required><%= resource.description %></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
			</div>
		</form>
		<a href="/resources">Go Back</a>
	</div>
</div>

<% include ../partials/footer %>
