<% include ../partials/header %>

<a href="https://github.com/jamisoncozart/DevLearn" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

<div class="container">
	<!-- If there is a current user, and they are an admin -->
	<% if(currentUser && currentUser.isAdmin){ %>
		<div class="text-center p-2" style="background: red; margin-bottom: 16px;">
			<h4 class="m-0" style="background: black; color: red;">
				<strong>You're an admin!</strong>
			</h4>
		</div>
	<% } %>
	<!-- =============================================================================== -->
	<!-- BOOTSTRAP 4 CAROUSEL -->
	<!-- ------------------------------------------------------------------------------------ -->
	<div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner" style="height: 300px, overflow: hidden;">
		<div class="carousel-item active img-div">
			<div class="img-div">
				<img class="d-block w-100" src="https://cdn.i-scmp.com/sites/default/files/styles/1200x800/public/d8/images/methode/2019/03/16/35e584f4-46f3-11e9-b5dc-9921d5eb8a6d_image_hires_194000.JPG?itok=RiqWzzUS&v=1552736407" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>Don't Limit Yourself</h5>
					<p>After you learn your first programming language, trying another one just gets easier</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="img-div">
				<img class="d-block w-100" src="https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2015/06/webdesign.jpg" alt="Second slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>A World of Opportunities</h5>
					<p>Think outside the box when crafting your next project</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="img-div">
				<img class="d-block w-100" src="https://codacy.blog/wp-content/uploads/2018/10/20181002_WhyCodingStandardsMatter.jpg" alt="Third slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>Start Today!</h5>
					<p>All it takes is initiative. If you want it, you will achieve it</p>
				</div>
			</div>
		</div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>
	<!-- ====================================================================================================== -->
	
	<!-- ================================================= -->
	<!-- SEARCH BAR + NEW RESOURCE BUTTON -->
	<!-- ----------------------------------------------------- -->
	<div class="searchBar" style="padding: 0">
		<div class="row" style="padding: 16px;">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 text-center my-1">
				<a class="btn btn-primary w-100 w-lg-50 text-center" href="/resources/new"><i class="fas fa-plus"></i> New Resource</a>
				<hr class="d-sm-none" style="margin-top: 24px">
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 d-xs-none d-sm-none d-md-none d-lg-block">
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-auto my-1">
				<form action="/resources" method="GET" class="">
					<div class="input-group">
						<input type="text" name="search" placeholder="Resource search..." class="form-control mr-1">
						<input type="submit" value="Search" class="btn btn-primary">
					</div>
				</form>
			</div>	
		</div>
	</div>
	<!-- ================================================== -->
</div>

<div class="container">
	<div class="row text-center">
		<!-- For every resource in the resources array, display a Bootstrap 4 card containing all the resources content -->
		<% resources.forEach(function(resource){ %>
			<div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12" style="margin-bottom: 16px">
				<div class="card crop">
					<img src="<%= resource.image %>" class="card-img-top front-page-card img-fluid border-bottom">
					<div class="card-body front-card-body">
						<h5 class="card-title mb-xs-1 mb-sm-2"><%= resource.name %></h5>
						<div>
							<h5>
								<span class="badge badge-pill badge-light"><i class="fas fa-heart" style="color: red;"></i> <%= resource.likes.length %></span>
								<span class="badge badge-pill badge-light"><i class="fas fa-comment"></i> <%= resource.comments.length %></span>
							</h5>
						</div>
						<a href="/resources/<%= resource.slug %>" class="btn btn-primary d-none d-sm-block">More Info</a>
						<a href="/resources/<%= resource.slug %>" class="btn btn-primary btn-sm d-sm-none w-100">More Info</a>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
	
	<!-- ===================================================================================== -->
	<!-- BOOTSTRAP 4 PAGINATION FEATURE -->
	<!-- ---------------------------------------------------------------------------------- -->
	<nav aria-label="Page navigation" class="py-2">
		<!-- If a page exists, display pagination feature -->
		<% if (pages && pages > 0) { %>
		<ul class="pagination justify-content-center m-0">
			<!-- If current page is page 1 -->
			<% if (current == 1) { %>
			<li class="page-item disabled"><a class="page-link">First</a></li>
			<% } else { %>
			<li><a class="page-link" href="/resources<%if(search){%>?search=<%=search%><%}%>">First</a></li>
			<% } %>
			<% if (current == 1) { %>
			<li class="page-item disabled"><a class="page-link">«</a></li>
			<% } else { %>
			<li><a class="page-link" href="/resources?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
			<% } %>

			<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
			<% if (i !== 1) { %>
			<li class="page-item disabled"><a class="page-link">...</a></li>
			<% } %>
			<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
			<% if (i == current) { %>
			<li class="active"><a class="page-link"><%= i %></a></li>
			<% } else { %>
			<li><a class="page-link" href="/resources?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
			<% } %>
			<% if (i == Number(current) + 4 && i < pages) { %>
			<li class="page-item disabled"><a class="page-link">...</a></li>
			<% } %>
			<% } %>
			
			<% if (current == pages) { %>
			<li class="page-item disabled"><a class="page-link">»</a></li>
			<% } else { %>
			<li><a class="page-link" href="/resources?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
			<% } %>

			<% if (current == pages) { %>
			<li class="page-item disabled"><a class="page-link">Last</a></li>
			<% } else { %>
			<li><a class="page-link" href="/resources?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
			<% } %>
		</ul>
		<% } %>
	</nav>
	<!-- =============================================================================================== -->
	<% include ../partials/footer %>
</div>
