<% include ../partials/header %>

<div class="container">
	<% if(currentUser && currentUser.isAdmin){ %>
		<div class="text-center p-2" style="background: red; margin-bottom: 16px;">
			<h4 class="m-0" style="background: black; color: red;">
				<strong>You're an admin!</strong>
			</h4>
		</div>
	<% } %>
	<div id="carouselExampleIndicators" class="carousel slide d-none d-md-block" data-ride="carousel">
	  <ol class="carousel-indicators">
		<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner" style="height: 300px, overflow: hidden;">
		<div class="carousel-item active img-div">
			<div class="img-div">
				<img class="d-block w-100" src="https://images.wallpaperscraft.com/image/dark_black_and_white_abstract_black_background_76353_2560x1440.jpg" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>Don't Limit Yourself</h5>
					<p>After you learn your first programming language, trying another one just gets easier</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="img-div">
				<img class="d-block w-100" src="https://wallpaperplay.com/walls/full/e/0/e/257421.jpg" alt="Second slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>A World of Opportunities</h5>
					<p>Think outside the box when crafting your next project</p>
				</div>
			</div>
		</div>
		<div class="carousel-item">
			<div class="img-div">
				<img class="d-block w-100" src="https://wallpapercave.com/wp/v4tQ0HK.jpg" alt="Third slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>Start Today!</h5>
					<p>All it takes is initiative. If you want it, you will achieve it</p>
				</div>
			</div>
		</div>
	  </div>
	  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>
	
	<div class="searchBar" style="padding: 0">
		<div class="row" style="padding: 16px;">
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 text-center my-1">
				<a class="btn btn-primary w-100 w-lg-50 text-center" href="/campgrounds/new"><i class="fas fa-plus"></i> New Campground</a>
				<hr class="d-sm-none" style="margin-top: 24px">
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-6 d-xs-none d-sm-none d-md-none d-lg-block">
			</div>
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-auto my-1">
				<form action="/campgrounds" method="GET" class="">
					<div class="input-group">
						<input type="text" name="search" placeholder="Campground search..." class="form-control mr-1">
						<input type="submit" value="Search" class="btn btn-primary">
					</div>
				</form>
			</div>	
		</div>
	</div>
</div>

<div class="container">
	<div class="row text-center">
		<% campgrounds.forEach(function(campground){ %>
			<div class="col-xl-3 col-lg-4 col-sm-6 col-xs-12 mb-4">
				<div class="card crop">
					<img src="<%= campground.image %>" class="card-img-top front-page-card img-fluid">
					<div class="card-body front-card-body">
						<h5 class="card-title mb-xs-1 mb-sm-2"><%= campground.name %></h5>
						<a href="/campgrounds/<%= campground.slug %>" class="btn btn-primary d-none d-sm-block">More Info</a>
						<a href="/campgrounds/<%= campground.slug %>" class="btn btn-primary btn-sm d-sm-none w-100">More Info</a>
					</div>
				</div>
			</div>
		<% }) %>
	</div>
	
	<!-- PAGINATION FEATURE -->
	
	<nav aria-label="Page navigation" class="py-2">
		<% if (pages && pages > 0) { %>
		<ul class="pagination justify-content-center m-0">
			<% if (current == 1) { %>
			<li class="page-item disabled"><a class="page-link">First</a></li>
			<% } else { %>
			<li><a class="page-link" href="/campgrounds<%if(search){%>?search=<%=search%><%}%>">First</a></li>
			<% } %>

			<% if (current == 1) { %>
			<li class="page-item disabled"><a class="page-link">«</a></li>
			<% } else { %>
			<li><a class="page-link" href="/campgrounds?page=<%= Number(current) - 1 %><%if(search){%>&search=<%=search%><%}%>">«</a></li>
			<% } %>

			<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
			<% if (i !== 1) { %>
			<li class="page-item disabled"><a class="page-link">...</a></li>
			<% } %>
			<% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
			<% if (i == current) { %>
			<li class="active"><a class="page-link"><%= i %></a></li>
			<% } else { %>
			<li><a class="page-link" href="/campgrounds?page=<%= i %><%if(search){%>&search=<%=search%><%}%>"><%= i %></a></li>
			<% } %>
			<% if (i == Number(current) + 4 && i < pages) { %>
			<li class="page-item disabled"><a class="page-link">...</a></li>
			<% } %>
			<% } %>

			<% if (current == pages) { %>
			<li class="page-item disabled"><a class="page-link">»</a></li>
			<% } else { %>
			<li><a class="page-link" href="/campgrounds?page=<%= Number(current) + 1 %><%if(search){%>&search=<%=search%><%}%>">»</a></li>
			<% } %>

			<% if (current == pages) { %>
			<li class="page-item disabled"><a class="page-link">Last</a></li>
			<% } else { %>
			<li><a class="page-link" href="/campgrounds?page=<%= pages %><%if(search){%>&search=<%=search%><%}%>">Last</a></li>
			<% } %>
		</ul>
		<% } %>
	</nav>
	<% include ../partials/footer %>
</div>
